<div>
  <input type="number" step="any" [value]="number1"
         (change)="changeNumber1($event.target.value)">

  <select [value]="operator" (change)="selectChange($event.target.value)">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>

  <input type="number" step="any" [value]="number2"
         (change)="changeNumber2($event.target.value)">
</div>
<div>
  <button (click)="calculate()">
    Calculator
  </button>
</div>

<div>
  {{result}}
</div>

