<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" novalidate>

  <p>
    <label for="firstname">First Name </label>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">
  </p>
  <div *ngIf="!firstname.valid && (firstname.dirty ||firstname.touched)">
    First Name is not valid
  </div>

  <p>
    <label for="lastname">Last Name </label>
    <input type="text" id="lastname" name="lastname" formControlName="lastname">
  </p>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>

  <p>
    <label>Geneder </label>
    <input type="radio" value="male" name="gender" formControlName="gender"> Male
    <input type="radio" value="female"  name="gender" formControlName="gender"> Female
  </p>

  <p>
    <label for="isMarried">Married </label>
    <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
  </p>



  <p>
    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
  </p>

</form>
